body {
    overflow-x: hidden !important;
}

.jumbotron {
    padding: 0;
    color: white;
    text-shadow: 2px 2px 3px black;
    height: 550px;
    background-image: url("../img/hero.jpg");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: #f9d56e;
    margin-bottom: 0;
    margin-top: 10px;
}
.card-servicios {
    flex: 1 350px;
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 250px;
    padding: 2px 0px 2px 0px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon{
    padding-right: 10px;
}