.jumbotron {
  color: black;
  margin-top: 50px;
  margin-bottom: 15px;
  background-color: #e8505b;
  padding: 1px;
}
.breadcrumb {
  background-color: #f9d56e !important;
}
button.btn-block:hover {
  background-color: #e8505b !important;
}
footer {
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: #e8505b;
  padding: 10px;
  padding-bottom: 0;
}
footer a {
  list-style-type: none;
  color: black;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: #14b1ab;
  padding: 1px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
.about,
.terminos,
.contacto {
  background-color: #14b1ab;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #14b1ab;
}
.tab-content {
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: #f9d56e;
  padding: 0px;
}
.tab-content .card-body,
.tab-content #comentario {
  background-color: #14b1ab;
}
