@amarillo: #f9d56e;
@rojo: #e8505b;
@verde: #14b1ab;

.margenes (@top, @bottom, @bg-color, @pad){
    margin-top: @top;
    margin-bottom: @bottom;
    background-color: @bg-color;
    padding: @pad;
}

.jumbotron {
    color: black;
    .margenes(50px, 15px, @rojo, 1px);
}

.breadcrumb {
    background-color: @amarillo !important;
}

button.btn-block:hover {
     background-color: @rojo !important;
}

footer {
    .margenes(10px, 0px, @rojo, 10px);
    padding-bottom: 0;
}

footer a {
    list-style-type: none;
    color: black;
}

.card-hotel {
    background-color: @verde;
    flex: 1 200px;
    .margenes(10px, 0px, @verde, 1px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}
// pagina acerda de nosotros
.about, .terminos, .contacto {
    background-color: @verde;
}
// pagina precios
    // tabla de precios 
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: @verde;
 }
    // tab pane
.tab-content{
    .margenes(10px, 0px, @amarillo, 0px);
}

.tab-content .card-body, .tab-content #comentario {
    background-color: @verde;
}

